.product-card {
    width: 260px;
    height: 450px;
    display: flex;
    flex-direction: column;
    padding: 1.2rem;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}
.product-img-wrapper {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.product-img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 15px;
}
  
.product-info {
    min-height: 90px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
.product-bottom {
    margin-top: auto; 
    text-align: center;
}
  
.product-price {
    font-size: 1.2rem;
    color: #2b74e4;
    margin-bottom: 10px;
}
  