.product-card {
    width: 260px;
    height: 420px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1.2rem;
    border-radius: 12px;
    background: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
  

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.product-img-wrapper {
    height: 200px; 
    display: flex;
    justify-content: center;
    align-items: center;
  }

.product-img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.product-price {
    font-size: 1.2rem;
    color: #2b74e4;
}
  