.navbar-item {
    color: black;
    padding: 6px 12px;
    text-decoration: none;
    transition: 0.2s ease;
    cursor: pointer;
  }
  
  .navbar-item.active {
    background-color: rgb(249, 124, 47);
    color: white !important;
    border-radius: 15px;
    padding: 10px;
  }
  